@import "tailwindcss";

@theme {
    --animate-slide-up: slide-up 150ms ease-out 0ms 1 normal forwards;
    --animate-slide-down: slide-down 150ms ease-out 0ms 1 normal forwards;
}

@keyframes slide-up {
    0% {
        transform: translateY(1rem);
    }
    100% {
        transform: translateY(0rem);
    }
}

@keyframes slide-down {
    0% {
        transform: translateY(0rem);
    }
    100% {
        transform: translateY(1rem);
    }
}